.CircularProgressbar-path{
    stroke: rgb(13, 94, 138);
    /* stroke: rgb(62, 152, 199); */
}
.CircularProgressbar-trail{
    stroke: #d6d6d6;
}
.percentagecommen{
    color: #d6d6d6;
    font-size:large;
}
a{
    text-decoration: none;
    
}
h3{
    color: rgb(13, 94, 138);
    font-size:large;
}
.charContainer{    
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #d6d6d6;
    padding: 10px;
    text-align: center;
}
