<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Enjoy the Best Experience in Stock Marketing System
        </div>
        <div class="card-body">
           <h4>Stock Market Tracking System</h4>
        </div>
    </div>
</div>